@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;

    --light-teal-0: 184 77% 24%;
    --light-teal-1: 184 74% 30%;
    --light-teal-main: 184 44% 49%;
    --light-teal-3: 184 52% 69%;
    --light-teal-4: 184 64% 79%;
    --light-teal-5: 184 57% 87%;

    --dark-teal-0: 184 100% 3%;
    --dark-teal-1: 182 100% 5%;
    --dark-teal-2: 184 100% 6%;
    --dark-teal-3: 184 100% 9%;
    --dark-teal-4: 183 100% 13%;
    --dark-teal-main: 184 100% 15%;

    --greyscale-white: 0 0% 100%;
    --greyscale-black: 0 0% 0%;
    --greyscale-0: 180 31% 94%;
    --greyscale-1: 180 20% 83%;
    --greyscale-2: 180 3% 94%;
    --greyscale-3: 180, 31%, 94%;
    --greyscale-6: 180, 12%, 75%;
    --greyscale-7: 178, 19%, 73%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
